.row1 {
    background-color: #ff9999;/
}

.row2 {
    background-color: #99ff99; 
}

.row3 {
    background-color: #9999ff; 
}

.row4 {
    background-color: #ffff99; 
}

.row5 {
    background-color: #ff99ff; 
}

.row6 {
    background-color: #99ffff; 
}